[Unit]
Description=Starts Ahenk at system startup
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/ahenk/ahenkd.py start
ExecStop=/usr/bin/python3 /usr/share/ahenk/ahenkd.py stop
PIDFile=/var/run/ahenkd.pid
Restart=always

[Install]
WantedBy=multi-user.target