Source: ahenk
Section: utils
Priority: optional
Maintainer: Tuncay Çolak <tuncay.colak@tubitak.gov.tr>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.6.1
Homepage: http://www.liderahenk.org.tr


Package: ahenk
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-cpuinfo,
         python3-netifaces,
         python3-paramiko,
         python3-psutil,
         python3-pystemd,
         python3-slixmpp,
         python3-watchdog,
         python3-easygui,
         libpam-script,
         x11vnc,
         conky,
         conky-all,
         nmap,
         whois,
         cpulimit,
         pkexec,
         polkitd,
         sudo,
         rsyslog,
         rsyslog-relp,
         quota,
         quotatool,
         ahenk-register,
         openssh-server,
         iptables
Replaces: libpam-runtime
Description: The client side of the Liderahenk Project
 Liderahenk is an open source project which provides solutions
 to manage, monitor and audit unlimited number of different
 systems and users on a network.